site_name: Electronics Catalog
site_url: https://thibserot.github.io/electronics-catalog/
theme:
  name: material
plugins:
  - search
  - awesome-pages
  - tags
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true
  - tables
  - attr_list
